
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Wedding Registry Website</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

{{{body}}}

  <footer class="page-footer rose">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Wedding Info</h5>
          <p class="grey-text text-lighten-4">This is the location where all the wedding info will be listed. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. 
            Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contacts</h5>
          <ul>
            <li><a class="white-text" href="#!">Person 1</a></li>
            <li><a class="white-text" href="#!">Person 2</a></li>
            <li><a class="white-text" href="#!">Person 3</a></li>
            <li><a class="white-text" href="#!">Person 4</a></li>
          </ul>
        </div>

        <div class="col l3 s12">
          <h5 class="white-text">Phone</h5>
          <ul>
            <li><a class="white-text" href="#!">303-555-1212</a></li>
            <li><a class="white-text" href="#!">303-555-1212</a></li>
            <li><a class="white-text" href="#!">303-555-1212</a></li>
            <li><a class="white-text" href="#!">303-555-1212</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="#">DU Web Dev Bootcampers</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>

