


<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">hitched</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Sign Out</a></li>
      </ul>
      </div>
  </nav>

<div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">loyalty</i></h2>
            <h5 class="center">Gifts For Married Couple</h5>
            {{#each wedding}}
            {{#unless this.reserved}}

        <div class="well well-lg"><b>{{this.gift_name}}</b>
        <form action="/{{this.id}}/0?_method=PUT" method="POST">
          <button type="submit">Reserve</button>
        </form><form action="/{{this.id}}/0?_method=PUT" method="POST">
        </form></div>
        {{/unless}}
        {{/each}}
      </div>
    </div>


        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">card_giftcard</i></h2>
            <h5 class="center">Reserved Gifts</h5>
            {{#each wedding}}
            {{#if this.reserved}}
            <div class="well well-lg"><b>{{this.gift_name}}</b>
            </div>
           {{/if}}
           {{/each}}
          </div>
        </div>
   </div>
