<<<<<<< HEAD
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">hitched</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Sign In</a></li> <li><a href="#">Sign Up</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Sign In</a></li> <li><a href="#">Sign Up</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center red-text text-lighten-2">Wedding Gift Registry</h1>
        <div class="row center">
          <h5 class="header col s12 black-text light">Support your loved ones and friends on their special day</h5>
        </div>
        <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light red lighten-1">Sign In</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">loyalty</i></h2>
            <h5 class="center">His Wishes</h5>

            <p class="light">This is where his items will be listed<br><br><br><br><br><br><br><br><br></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">card_giftcard</i></h2>
            <h5 class="center">Reserved Wishes</h5>

            <p class="light">This is where the reserved items will be listed</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">loyalty</i></h2>
            <h5 class="center">Her Wishes</h5>

            <p class="light">This is where her items will be listed</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 black-text light">Congratulations to the happy couple!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 id="aboutTitle">About the Couple</h4>
          <p class="left-align red-text light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non 
            consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, 
            ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium 
            eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis 
            nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum 
            sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique 
            erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
            cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 black-text light">Don't miss out on a wonderful evening of celebration!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/background3.jpg" alt="Unsplashed background img 3"></div>
=======
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">hitched</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Sign In</a></li> <li><a href="#">Sign Up</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Sign In</a></li> <li><a href="#">Sign Up</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center red-text text-lighten-2">Wedding Gift Registry</h1>
        <div class="row center">
          <h5 class="header col s12 black-text light">Support your loved ones and friends on their special day</h5>
        </div>
        <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light red lighten-1">Sign In</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">loyalty</i></h2>
            <h5 class="center">His Wishes</h5>

            <p class="light">This is where his items will be listed<br><br><br><br><br><br><br><br><br></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">card_giftcard</i></h2>
            <h5 class="center">Reserved Wishes</h5>

            <p class="light">This is where the reserved items will be listed</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">loyalty</i></h2>
            <h5 class="center">Her Wishes</h5>

            <p class="light">This is where her items will be listed</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 black-text light">Congratulations to the happy couple!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 id="aboutTitle">About the Couple</h4>
          <p class="left-align red-text light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non 
            consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, 
            ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium 
            eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis 
            nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum 
            sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique 
            erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
            cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 black-text light">Don't miss out on a wonderful evening of celebration!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/background3.jpg" alt="Unsplashed background img 3"></div>
>>>>>>> e9c0a850b6ac6ff6a83e75a10c104f81bdf43a73
  </div>