

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">hitched</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login.html">Sign In</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/login.html">Sign In</a></li> <li><a href="#">Sign Up</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center red-text text-lighten-2">Wedding Gift Registry</h1>
        <div class="row center">
          <h5 class="header col s12 black-text light">Support your loved ones and friends on their special day</h5>
        </div>
        <div class="row center">
          <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Sign In</a>
          <ul id='dropdown1' class='dropdown-content'>
           <li><a href="/login.html">HostUsers</a></li>
          <li><a href="/guestlist">GuestUsers</a></li>

        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="assets/images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  