  <div class="container">
    <div class="section">

      <!--   Gifts Section   -->
      <div class="row">

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">loyalty</i></h2>
            <h5 class="center">His Wishes</h5>

            <p class="light">This is where his items will be listed<br><br><br><br><br><br><br><br><br></p>

          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">card_giftcard</i></h2>
            <h5 class="center">Reserved Wishes</h5>

            <p class="light">This is where the reserved items will be listed</p>

          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">loyalty</i></h2>
            <h5 class="center">Her Wishes</h5>

            <p class="light">This is where her items will be listed</p>

          </div>
        </div>
        
      </div>

    </div>
  </div>