

#panell {
  margin-top: 150px;
  background-color: white;
}

#loginbtn {
     float: left;
     margin-bottom: 10px;
     margin-right: 10px;
   }
   
#title {
  background-color: #2bbbad;
  color: white;
  padding: 8px;
  margin-top: 0px
}

form {
  padding:0px;
  border-radius: 3px;
  box-sizing: border-box;
}

#username,#password {
margin-left: 20px;
margin-right: 20px;
}

#checkbox {
margin-left: 30px;
}